{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script",
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecorators": true
    },
    "requireConfigFile": false
  },
  "env": {
    "amd": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "dojo": true,
    "angular": true,
    "dijit": true,
    "dojox": true,
    "$": true,
    "ArrayBuffer": true,
    "Uint32Array": true
  },
  "plugins": [
    "react",
    "jest"
  ],
  "rules": {
    "react/jsx-uses-react" : "error",
    "react/jsx-uses-vars" : "error"
  }
}
